.description {
    margin: 5px;
}

@media all and (min-width: 768px) {
    .description {
        grid-column: 2/3;
        grid-row: 1/2;
        /* align-self: stretch; */
        align-self: end;
    }
}