.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    justify-self: flex-start;
}

.navbar__flag {
    justify-self: flex-end;
}

.flag {
    width: 40px;
    height: 15px;
    margin: 10px;
}